<h2>Data Stats</h2>
<table>
    <tr>
        <td># Diamonds</td>
        <td>Average Price</td>
        <td>Avarage Discount</td>
    </tr>
    <tr>
        <td> {{diamondAmmount}}</td>
        <td> {{avaragePrice | currency }}</td>
        <td> {{avarageDiscount | percent }}</td>
    </tr>
</table>



<h2>Data Table</h2>
<table>
    <tr>
        <td>Shape</td>
        <td>Size</td>
        <td>Color</td>
        <td>Clarity</td>
        <td>Price</td>
        <td>List price</td>
        <td><b>Discount</b></td>
    </tr>
    <tr *ngFor="let diamond of diamonds;">
        <td> {{diamond.shape}}</td>
        <td> {{diamond.size}}</td>
        <td> {{diamond.color}}</td>
        <td> {{diamond.clarity}}</td>
        <td> {{diamond.price | currency }}</td>
        <td> {{diamond.listPrice | currency }}</td>
        <td><b> {{diamond.discount | percent}} </b></td>
    </tr>
</table>


<h2>Add New Product</h2>
<form [formGroup]="diamondForm" novalidate (submit)="onSubmit()">
    <div class="form-group">

        <input type="text" placeholder="Shape" formControlName="Shape" class="form-control" [(ngModel)]="diamond.Shape"
            [ngClass]="{ 'is-invalid': submitted && f.Shape.errors }" />
        <div *ngIf="submitted && f.Shape.errors" class="invalid-feedback">
            <div *ngIf="f.Shape.errors.required">Shape is required</div>
        </div>
        <br>

        <input type="number" placeholder="Size" formControlName="Size" class="form-control" [(ngModel)]="diamond.Size"
            [ngClass]="{ 'is-invalid': submitted && f.Size.errors }" />
        <div *ngIf="submitted && f.Size.errors" class="invalid-feedback">
            <div *ngIf="f.Size.errors.required">Size is required</div>
        </div>
        <br>

        <input type="text" placeholder="Color" formControlName="Color" class="form-control" [(ngModel)]="diamond.Color"
            [ngClass]="{ 'is-invalid': submitted && f.Color.errors }" />
        <div *ngIf="submitted && f.Color.errors" class="invalid-feedback">
            <div *ngIf="f.Color.errors.required">Color is required</div>
        </div>
        <br>

        <input type="text" placeholder="Clarity" formControlName="Clarity" class="form-control" [(ngModel)]="diamond.Clarity"
            [ngClass]="{ 'is-invalid': submitted && f.Clarity.errors }" />
        <div *ngIf="submitted && f.Clarity.errors" class="invalid-feedback">
            <div *ngIf="f.Clarity.errors.required">Clarity is required</div>
        </div>
        <br>

        <input type="number" placeholder="Price" formControlName="Price" class="form-control" [(ngModel)]="diamond.Price"
            [ngClass]="{ 'is-invalid': submitted && f.Price.errors }" />
        <div *ngIf="submitted && f.Price.errors" class="invalid-feedback">
            <div *ngIf="f.Price.errors.required">Price is required</div>
        </div>
        <br>

        <input type="number" placeholder="ListPrice" formControlName="ListPrice" class="form-control" [(ngModel)]="diamond.ListPrice"
            [ngClass]="{ 'is-invalid': submitted && f.ListPrice.errors }" />
        <div *ngIf="submitted && f.ListPrice.errors" class="invalid-feedback">
            <div *ngIf="f.ListPrice.errors.required">ListPrice is required</div>
        </div>
        <br>

        
        <button>Add</button>
    </div>

</form>

<br>
<br>
<br>


